<form ng-submit="$state.go('user', { user: gitboard.name })" role="form">
  <div class="form-group">
    <p>
      To get started with aggegating your Github projects &amp; issues,
      enter user Github username:
    </p>

    <label class="sr-only">
      Github username:
    </label>

    <div class="input-group">
      <span class="input-group-addon">
        <i class="icon-github-alt"></i>
      </span>

      <input ng-model="gitboard.name" type="text" class="form-control" placeholder="Github username" autofocus>

      <span class="input-group-btn">
        <button type="submit" class="btn btn-success">Continue</button>
      </span>
    </div>
  </div>
</form>
